body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* HEADER */

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */

main {
    padding: 20px;
}

.hero {
    text-align: center;
}

.hero img {
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 20px;
}

.info {
    margin-top: 40px;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}

/* CARDS */

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px black (0,0,0,0.1);
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}